
/*.newStyle {*/
/*    border-radius: 20px;*/
/*}*/

/* applied style to its root properties, but no change */
/*.ant-modal-content {*/
/*    border-radius: 20px;*/
/*}*/
/*#root {*/
/*  !*max-width: 1280px;*!*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*body {*/
/*  font-family: "Ubuntu", serif;*/
/*  font-size: 1rem;*/
/*  font-weight: normal;*/
/*  line-height: 1.2;*/
/*  color: #000;*/
/*}*/
