body {
  margin: 0;
  font-family: "Ubuntu", serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
  min-width: 320px;
  min-height: 100vh;
}

.ant-modal-content {
  background-color: #01579b;
}

//.ant-modal .ant-modal-content {
//  border-radius: 0;
//  padding: 0;
//}

.teaser-modal .ant-modal-header {
  border-radius: 0;
}

.newStyle {
  border-radius: 0;
}

.ant-modal .ant-modal-close {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #EAEAEA;

  &:hover {
    background-color: #659DBD;
  }

  & svg {
    display: none;
  }

  &:before {
    background-image: url("/src/assets/svg/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    z-index: 666;
  }
}

@media (min-width: 1440px) {
  .ant-modal-root .ant-modal-wrap {
    width: 1180px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .ant-modal .ant-modal-content {
    padding: 0;
    border-radius: 0;
  }
}

.ant-modal .ant-modal-footer {
  display: none;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 0;
}

@media (min-width: 1440px) {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 64px;
    display: flex;
    align-items: center;
  }
}

.ant-btn-primary {
  box-shadow: none;
}

.ant-input:placeholder-shown {
  //width: 335px;
  //height: 64px;
  border-radius: 0;
  padding: 24px 21px;
  margin-bottom: 40px;
}



